<h4>BOOK DETAILS</h4>
<table [ngClass]="tableDesignclasses">
    <thead><tr>
        <th>ID</th> <th>NAME</th> <th>DESCRIPTION</th> <th>PRICE</th> <th>AUTHOR</th> <th>PUBLISHED DATE</th>
    </tr></thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.bookName}}</td>
            <td>{{book.bookDescription}}</td>
            <td>{{book.bookPrice}}</td>
            <td>{{book.bookAuthor | slice:0: book.bookAuthor.indexOf(" ")}}</td>
            <td>{{book.bookPublishDate}}</td>
        </tr>
    </tbody>
</table>
<hr>

<div [ngClass]="cardDesign">
      <app-bookcard *ngFor="let book of books" [book]="book"></app-bookcard>
</div>
