<b>{{chapterName}}</b> <!-- data binding : string interpolation-->

<div>
    <label for="chapter">Enter Chapter Name :</label>
    <input id="chapter" type="text" [(ngModel)]="chapterName" (keyup)="test()">
</div>
<div #additionblock (mouseover)="accessTemplate(additionblock)">
    <h6>ADDITION</h6>
    <!-- template ref variables must be unique through out the project-->
    <input type="number" placeholder="number 1" #inputnode1>+
    <input type="number" placeholder="number 2" #inputnode2>=<b>{{addResult}}</b>
    <button type="button" (click)="addNums(inputnode1.value,inputnode2.value)">ADD</button>
</div>
<hr>
<div>
    <h6>Voter Application</h6>
    <label>Enter your age:</label>
    <input type="number" [(ngModel)]="age" placeholder="Enter age">
    <section>
        <h6>If logic</h6>
        <!-- put if on element, which u want to add or remove-->
        <p *ngIf="age>=18">
            Welcome!!!!! You are allowed for voting
        </p>
        <p *ngIf="age<18"> 
            Sorry!!!! You are not allowed for voting
        </p>
    </section>
    <section>
        <h6>If-else logic</h6>
        <p *ngIf="age>=18;else elsepart">
            Welcome!!!!! You are allowed for voting
        </p>
        <ng-template #elsepart>
            <p> 
                Sorry!!!! You are not allowed for voting
            </p>
            <p> 
               Please come for voting once u will be 18
            </p>       
        </ng-template>
    </section>

    <section>
        <h6>If then else logic</h6>
         <!-- put if on element, where u want to just check the condition-->
        <b *ngIf="age>=18 then thenpart; else elseblock"></b> <!-- if then else : it will not be a part of DOM-->
        <ng-template #thenpart>
            <p>
                Welcome!!!!! You are allowed for voting
            </p>
        </ng-template>
        <ng-template #elseblock>
            <p> 
                Sorry!!!! You are not allowed for voting
            </p>
        </ng-template>
    </section>
</div>