<b>{{chapterName}}</b> <!-- data binding : string interpolation-->

<div>
    <label for="chapter">Enter Chapter Name :</label>
    <input id="chapter" type="text" [(ngModel)]="chapterName" (keyup)="test()">
</div>
<div #additionblock (mouseover)="accessTemplate(additionblock)">
    <h6>ADDITION</h6>
    <!-- template ref variables must be unique through out the project-->
    <input type="number" placeholder="number 1" #inputnode1>+
    <input type="number" placeholder="number 2" #inputnode2>=<b>{{addResult}}</b>
    <button type="button" (click)="addNums(inputnode1.value,inputnode2.value)">ADD</button>
</div>
<hr>
<div>
    <h6>Voter Application</h6>
    <label>Enter your age:</label>
    <input type="number" [(ngModel)]="age" placeholder="Enter age">
    <section>
        <h6>If logic</h6>
        <!-- put if on element, which u want to add or remove-->
        <p *ngIf="age>=18">
            Welcome!!!!! You are allowed for voting
        </p>
        <p *ngIf="age<18"> 
            Sorry!!!! You are not allowed for voting
        </p>
    </section>
    <section>
        <h6>If-else logic</h6>
        <p *ngIf="age>=18;else elsepart">
            Welcome!!!!! You are allowed for voting
        </p>
        <ng-template #elsepart>
            <p> 
                Sorry!!!! You are not allowed for voting
            </p>
            <p> 
               Please come for voting once u will be 18
            </p>       
        </ng-template>
    </section>

    <section>
        <h6>If then else logic</h6>
         <!-- put if on element, where u want to just check the condition-->
        <b *ngIf="age>=18 then thenpart; else elseblock"></b> <!-- if then else : it will not be a part of DOM-->
        <ng-template #thenpart>
            <p>
                Welcome!!!!! You are allowed for voting
            </p>
        </ng-template>
        <ng-template #elseblock>
            <p> 
                Sorry!!!! You are not allowed for voting
            </p>
        </ng-template>
    </section>
</div>
<app-login *ngIf="false"></app-login>
<hr>
<div>
    <h5>Book Names </h5>
    <section>{{bookNames}}</section>
     <!-- apply ngFor on that element, that u want to repeat-->
    <table class="table table-bordered">
       <tbody>
            <tr><td *ngFor="let book of bookNames">{{book}}</td></tr>
       </tbody>
    </table>
    <!-- arrange books vertically in table. paste table code in chatbox-->
    <table class="table table-bordered">
        <tbody>
             <tr *ngFor="let book of bookNames; let index=index; let odd=odd; let even=even">
                <td>{{book}}</td>
                <td>{{index}}</td>
                <td>{{odd}}</td>
                <td>{{even}}</td>
            </tr>
        </tbody>
     </table>
     <h6>Books from odd indexes</h6>
     <table class="table table-bordered">
        <tbody>
             <tr *ngFor="let book of bookNames; let index=index; let odd=odd">
                <td *ngIf="odd">{{book}}</td>
            </tr>
        </tbody>
     </table>
</div>
<div>
    <h6>Students from division</h6>
    <input placeholder="Enter division" [(ngModel)]="student.div">
    <table [ngSwitch]="student.div">
        <tr *ngSwitchCase="'A'"><td>Mohan</td></tr>
        <tr  *ngSwitchCase="'B'"><td>Kapil</td></tr>
        <tr *ngSwitchCase="'C'"><td>Heena</td></tr>
        <tr *ngSwitchCase="'B'"><td>Krupa</td></tr>
        <tr  *ngSwitchCase="'A'"><td>Shanti</td></tr>
        <tr *ngSwitchCase="'D'"><td>Soham</td></tr>
        <tr *ngSwitchDefault><td *ngIf="student.div!=''" >NO STUDENT</td></tr>
    </table>
    <h6>Students Grade</h6>
    <b>{{student.perc}}%</b>
    <section [ngSwitch]="true">
        <div *ngSwitchCase="student.perc<=100 && student.perc>=70">DISTINCTION</div>
        <div  *ngSwitchCase="student.perc<70 && student.perc>=60">FIRST CLASS</div>
        <div *ngSwitchCase="student.perc<60 && student.perc>=40">PASS</div>
        <div *ngSwitchCase="student.perc<40 && student.perc>=0">FAIL</div>
        <div *ngSwitchDefault>WRONG INPUT</div>
    </section>
</div>