<div>

<form [formGroup]="bookInputForm" (submit)="collectData()">
    <div class="row justify-content-center py-4">
        <div class="w-50">
            <h5 class="row justify-content-center text-light">BOOK INPUT FORM</h5>
            <div class="form-group">
                <label for="id">Book Id</label>
                <input type="text" class="form-control" id="id" formControlName="id" >
            </div>
            <div *ngIf="id!.touched" class="text-danger">
                <b *ngIf="id!.hasError('required')"><small>id is required</small></b>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="bookName">
            </div>
            <div *ngIf="bookName!.touched && bookName!.dirty" class="text-danger">
                <b *ngIf="bookName!.hasError('required')"><small>name is required</small></b>
                <b *ngIf="bookName!.hasError('minlength')"><small>name must contain atleast {{bookNameMinLength}} characters</small></b>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" formControlName="bookPrice">
            </div>
            <div *ngIf="bookPrice!.touched" class="text-danger">
                <b *ngIf="bookPrice!.hasError('required')"><small>price is required</small></b>
                <b *ngIf="bookPrice!.hasError('min')"><small>Please enter valid price</small></b>
            </div>
            <div class="form-group">
                <label for="confirmedPrice">Confirm Price</label>
                <input type="number" class="form-control" id="confirmedPrice" formControlName="bookConfirmPrice">
            </div>
            <div *ngIf="bookConfirmPrice!.touched" class="text-danger">
                <b *ngIf="bookConfirmPrice!.hasError('required')"><small>price  confirmation is required</small></b>
                <b></b>
                <b></b>
            </div>
            <div class="form-group">
                <label for="shortDescription">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" formControlName="bookDescription">
            </div>
            <div *ngIf="bookDescription!.touched" class="text-danger"> 
                <b *ngIf="bookDescription!.hasError('required')"><small>short description is required</small></b>
                <b></b>
                <b></b>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" formControlName="bookAuthor">
            </div>
            <div *ngIf="bookAuthor!.touched" class="text-danger" >
                <b *ngIf="bookAuthor!.hasError('required')"><small>author is required</small></b>
                <b></b>
                <b></b>
            </div>
            <div class="form-group">
                <label for="publishdate">Publish date</label>
                <input type="datetime-local" class="form-control" id="publishdate" formControlName="bookPublishDate">
            </div>
            <div *ngIf="bookPublishDate!.touched" class="text-danger">
                <b *ngIf="bookPublishDate!.hasError('required')"><small>published date is required</small></b>
                <b></b>
                <b></b>
            </div>
            <br>
            <div class="form-group">
                <label for="bimage">Upload Image</label>
                <input type="file" class="form-control" id="bimage" formControlName="bookImage">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-2" [disabled]="bookInputForm.invalid">ADD</button>
                <button type="submit" class="btn btn-warning m-2">RESET</button>
            </div>
        </div>
    </div>
</form>
</div>