<div>

<form>
    <div class="row justify-content-center  bg-success py-4">
        <div class="w-50">
            <h5 class="row justify-content-center text-light">BOOK INPUT FORM</h5>
            <div class="form-group">
                <label for="id">Book Id</label>
                <input type="text" class="form-control" id="id" placeholder="Enter Book Id">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Book Name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="confirmedPrice">Confirmed Price</label>
                <input type="number" class="form-control" id="confirmedPrice" placeholder="Confirmed Price">
            </div>
            <div class="form-group">
                <label for="shortDescription">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" placeholder="Short Description">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" placeholder="Author">
            </div>
            <div class="form-group">
                <label for="publishdate">Publish date</label>
                <input type="datetime-local" class="form-control" id="publishdate" placeholder="Publish date">
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-2">ADD</button>
                <button type="submit" class="btn btn-warning m-2">RESET</button>
            </div>
        </div>
    </div>
</form>
</div>