
<div class="w-50">
      <div class="mb-3">
        <label for="usertype">Select Type:</label>
        <select id="usertype" class="form-select" >
          <!-- apply ngFor on that element, that u want to repeat-->
          <option [value]="utype" *ngFor="let utype of userTypes">{{utype | uppercase}}</option>
        </select>
      </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" > 
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [type]="inputType" class="form-control" id="password" [(ngModel)]="password" >
        </div>
        <div>
          <input type="checkbox"  id="showp" [(ngModel)]="passCheck" (change)="passCheck?inputType='text':inputType='password'"><label for="showp">show password</label>
        </div>
        <button type="button" class="btn btn-primary" (click)="testLogin()">Submit</button>  
      <p>{{flag}}</p>
</div>

<!-- string interpolation {{ }}
 2 way data binding [(ngModel)]
 event binding ()
 attribute binding []-->